.asagiSabit {position:fixed;bottom:5px;right:5px;z-index:999}
 
.whatsappBlock a {display:inline-block;height:30px;background:#65BC54;padding:5px 10px;color:#fff !important;font-weight:bold}
.whatsappBlock a img {height:100%;width:auto}